In [136]:
import requests
from bs4 import BeautifulSoup
import csv
import pandas as pd

In [ ]:
url = 'https://ng.indeed.com/jobs?q=data%20analyst&l=Nigeria&sort=date&vjk=959c90a6c043b43c'
page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')
soup

In [91]:
# Create top_items as empty list
title = []

# Extract and store in top_items according to instructions on the left
job_titles = soup.select('h2 > span')
for job in job_titles:
    title.append(job.text)

title

['Mid/Senior Country Financial Analyst (100% remote)',
 'Data Analyst – Nigeria IHP – Kebbi - Arewa',
 'Data Analyst – Nigeria IHP – Kebbi - Arewa',
 'Inventory Data Analyst Recruitment at TradeDepot',
 'Strategy and Insights Manager- West Africa',
 'Data Analyst Recruitment at High Performance Consulting',
 'System Analyst Recruitment at Pajuno Development Company',
 'Graduate Trainee Marketing Analyst Recruitment at Ladlas Pri...',
 'Senior Financial Planning and Analysis',
 'Project Analyst Job at MTN Nigeria',
 'Tech Talent Recruiters: Lagos',
 'UI / UX Designer Recruitment at Code for Africa',
 'Ongoing Recruitment at La Fayette Microfinance Bank Limited',
 'Policy Associate',
 'Reconciliation Analyst']

In [129]:
# Create top_items as empty list
company = []

# Extract and store in top_items according to instructions on the left
job_company = soup.select('div.companyInfo > span.companyName')
for comp in job_company:
    company.append(comp.text)

company

15

In [132]:
date_posted = []

# Extract and store in top_items according to instructions on the left
dates = soup.select('span.date')
for date in dates:
    date_posted.append(date.text.strip('Posted').strip('ago'))

date_posted

['TodayPostedToday',
 '1 day agoPosted1 day ',
 '1 day agoPosted1 day ',
 '1 day agoPosted1 day ',
 '1 day agoPosted1 day ',
 '1 day agoPosted1 day ',
 '1 day agoPosted1 day ',
 '1 day agoPosted1 day ',
 '1 day agoPosted1 day ',
 '2 days agoPosted2 days ',
 '2 days agoPosted2 days ',
 '2 days agoPosted2 days ',
 '2 days agoPosted2 days ',
 '2 days agoPosted2 days ',
 '3 days agoPosted3 days ']

In [133]:

url = ['https://ng.indeed.com/jobs?q=data%20analyst&l=Nigeria&sort=date&vjk=959c90a6c043b43c', 
    'https://ng.indeed.com/jobs?q=data%20analyst&l=Nigeria&sort=date&vjk=959c90a6c043b43c',
    'https://ng.indeed.com/jobs?q=data%20analyst&l=Nigeria&sort=date&start=20&vjk=01af6e553ce6c2d7',
    'https://ng.indeed.com/jobs?q=data%20analyst&l=Nigeria&sort=date&start=30&vjk=e9729db5b22ec679',
    'https://ng.indeed.com/jobs?q=data%20analyst&l=Nigeria&sort=date&start=40&vjk=3b238a694fc99046',
    'https://ng.indeed.com/jobs?q=data%20analyst&l=Nigeria&sort=date&start=50&vjk=ac5f2a42db54d955',
    'https://ng.indeed.com/jobs?q=data%20analyst&l=Nigeria&sort=date&start=60&vjk=fb026b80f41fb9ef'
]

for i in range(len(url)):
    page = requests.get(url[i])
    soup = BeautifulSoup(page.content, 'html.parser')

    job_titles = soup.select('h2 > span')
    for job in job_titles:
        title.append(job.text)

    job_company = soup.select('div.companyInfo > span.companyName')
    for comp in job_company:
        company.append(comp.text)

    dates = soup.select('span.date')
    for date in dates:
        date_posted.append(date.text.strip('Posted').strip('ago'))

In [147]:
print(len(title), len(company), len(date_posted))

120 119 120

In [155]:
job_data = pd.DataFrame.from_dict(job_dict, orient='index')
job_data = job_data.T
job_data

,job_title,company,date_posted
0,Mid/Senior Country Financial Analyst (100% rem...,Grafton Recruitment Sp. z o.o.Grafton Recruitm...,TodayPostedToday
1,Data Analyst – Nigeria IHP – Kebbi - Arewa,"Palladium Group, Inc.Palladium Group, Inc.Pall...",1 day agoPosted1 day
2,Data Analyst – Nigeria IHP – Kebbi - Arewa,The Palladium Group (HQ)The Palladium Group (H...,1 day agoPosted1 day
3,Inventory Data Analyst Recruitment at TradeDepot,TradeDepotTradeDepotTradeDepotTradeDepotTradeD...,1 day agoPosted1 day
4,Strategy and Insights Manager- West Africa,TikTokTikTokTikTokTikTokTikTokTikTokTikTokTikT...,1 day agoPosted1 day
...,...,...,...
115,"Engineering Manager, Data Infrastructure",Jumia Group,30+ days
116,Senior Commercial Analyst,Digicrown,30+ days
117,Excel Data Analyst,EDUCONSULTS BOLD SERVICES,30+ days
118,Computer Analyst,InstaFxNg,30+ days
119,Forex Technical Analyst,None,30+ days

In [156]:
job_data.to_csv('data_analyst_jobs')